/* Aplica estilos em todos os elementos da página */
*{
  margin: 0px; /* Remove margens externas */
  padding: 0px; /* Remove margens internas */
}

/* Estilos gerais do body */
body{
  background-image: url('https://uploads.onecompiler.io/43rztsvzx/43u98wxef/ChatGPT%20Image%2020%20de%20ago.%20de%202025,%2009_28_56.png'); /* Cor de fundo rosa claro */
  min-height: 100vh;   /* Ocupa toda a altura da tela */
  display: flex;       /* Ativa flexbox */
  flex-direction: column; /* Organiza os filhos em coluna */
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center;/* Centraliza verticalmente */
}

/* Container principal do jogo */
.container{
  display: flex; /* Layout flexbox */
  align-items: flex-start; /* Alinha ao topo */
  justify-content: flex-start; /* Alinha à esquerda */
  
  background-size: cover;  /* Imagem cobre todo o container */
  background-position: center;
}

/* Caixa lateral para elementos (ex: speed, terminal) */
.side-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.teste{
  align-items:margin-bottom;
}

/* Coluna 1: Speed e Terminal */
.coluna1{
  height: 100px;
  width: 140px;
  display: flex;
  flex-direction: column;
  background: #a5d88d; /* Verde claro */
  border: 2px solid rgb(255,255,255);
  border-radius: 8px;
  margin-top: 50px;
  text-align: center;
}

/* Área principal do Tetris */
.TETRIS{
  margin: 50px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid rgb(255,255,255);
}

/* Coluna 3: Next, Lines e Time */
.coluna3{
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 8px;
}

/* Terminal de pontuação */
.terminal-box {
  width: 140px;
  background: #a5d88d;
  border: 2px solid rgb(255,255,255);
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 420px;
  border-radius: 8px;
  text-align: center;
}

/* Caixa do cronômetro TIME */
.time{
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background:#89b8f0;
  border-radius: 8px;
  width: 130px;
  height: 50px;
  border: 2px solid rgb(255,255,255)
  
}

/* Caixa das linhas LINES */
.lines{
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background: #89b8f0;
  border-radius: 8px;
  width: 130px;
  height: 50px;
  border: 2px solid rgb(255,255,255);
}

/* Caixa da pontuação SCORE */
.score{
  background: #F4C3E4;
  text-align: center;    /* Centraliza textos */
  align-items: center;   /* Centraliza itens do flex */
  justify-content: center;
  display: flex;
  flex-direction: column;
}


canvas{
  background: #f0ea9e; /* Fundo amarelo claro para o canvas */
}

/* Tabela de pontuação */
.caixa-texto{
  height: 400px;
  background: #a5d88d;
  border: 2px solid rgb(255,255,255);
}

.nome{
  flex-direction: column
}

.linha-divisoria {
  
}
